<h1>Take Charge of Your Financial Future</h1>
<h4>Top Stocks of the Week</h4>
<h4>Testing</h4>
{{symbol}}{{price}}
<!-- Market Stats -->
<div class="uk-width-2-3@m">
    <div class="uk-card uk-card-default uk-card-body">
        <h2 class="uk-text-center uk-text-large"><i class="fas fa-chart-area"></i> Market Indexes</h2>
        <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Weighted Value</th>
                    <th>Market Movement</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dow Jones</td>
                    <td>{{DJI}}</td>
                    <td class="index-{{index_up_down DJIDelta}}"><i class="fas fa-caret-{{index_up_down DJIDelta}}"></i>
                        {{DJIDelta}}%</td>
                </tr>
                <tr>
                    <td>Nasdaq</td>
                    <td>{{IXIC}}</td>
                    <td class="index-{{index_up_down IXICDelta}}"><i
                            class="fas fa-caret-{{index_up_down IXICDelta}}"></i> {{IXICDelta}}%</td>
                </tr>
                <tr>
                    <td>S&P 500</td>
                    <td>{{GSPC}}</td>
                    <td class="index-{{index_up_down SPDelta}}"><i class="fas fa-caret-{{index_up_down SPDelta}}"></i>
                        {{SPDelta}}%</td>
                </tr>
                <tr>
                    <td>Russell 2000</td>
                    <td>{{RUT}}</td>
                    <td class="index-{{index_up_down RUTDelta}}"><i class="fas fa-caret-{{index_up_down RUTDelta}}"></i>
                        {{RUTDelta}}%</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="../" <script src="./js/login.js"></script>